*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    
}

body{
    width: 100%;
    min-height: 100vh;
    position: relative;
}

/*video de fondo*/  
video.video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}

@media (max-width: 800px){
    .box{
        min-heigth: 600px;
    }
}

.container{
    position: absolute;
    display: flex;
    
}

.particles{
    position: relative;
    display: flex;
    padding: 0 20px;
}

.particles span{
    position: relative;
    bottom: 20px;
    width: 20px;
    height: 20px;
    background: #dbecf0b7;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 30px #e4f0f3d4,
    -100px 0 #c8e8f099,
    100px 0 #ff2df899;
    margin: 0 4px;
    border-radius: 50%;
    animation: animate 15s ease-in-out infinite;
    animation-duration: calc(125s / var(--i));

}

.particles span:nth-child(even) {
    background: #f42dffd1;
    box-shadow: 0 0 0 10px #e62dff44,
    0 0 50px #e32dffd7,
    -100px 0 #d6e0e299,
    100px 0 #d6e0e299,;
}

@keyframes animate{
    0% {
        transform: translateY(120vh) scale(0) rotate(90deg);
    }
    20% {
        transform: translateY(100vh) scale(1) rotate(0deg);
    }
    100% {
         transform: translateY(-50vh) scale(0.5) rotate(160deg);
    }
}


.contenedor{
    width: 100%;
    max-width: 1200px;
    margin:20px;
}


nav{
    height: 100px;
    max-width: 1500px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #05000ba5; 
    
}
/*logo del inicio*/
.logo{
    width: 25%;
    margin-left: 20px;
}
/*logo del final*/
.logotipo{
    width: 50%;
    margin-left: 130px;
}
/* estilo del footer*/
#footer {
    padding-top: 30px;
    background: #000000;
}
.concts{
    display:flex;
    gap: 20px;
    margin-left: 200px;
    
}

/*.concts> a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    background: #ae40f8;
    text-align: center;
    transition: 1s;
}*/

/*estilo de los iconos del footer*/
i.bi.bi-envelope {
    color: rgb(236, 13, 13)
}
i.bi.bi-whatsapp{
    color: #06f646  
}
i.fa-brands.fa-linkedin{
    color: #fff
}
.concts > a > i {
    color: #fff;
    line-height: 40px;
    font-size: 20px;
}

@media (max-width:500px) {
    .concts {
        display:grid;
}
}

.bar-btn{
    font-size: 25px;
    color:#fff;
    margin-right: 20px;
    cursor: pointer;
}

.nav-menu {
    position: fixed;
    width: 100%;
    top: 100px;
    background:rgba(0, 4, 41, 0.868);
    text-align: center;
    transition: all 0.5s;
    z-index: 1;

}

.nav-menu li{
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all 0.5s;
}

.nav-menu li a{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.nav-menu li a.active,
.nav-menu li a:hover{
    color: #9900ff;
    transition: 0.3s;
}

#check{
    display: none;
}

#check:checked ~ .nav-menu li{
    display: block;
}

.banner-text {
    padding-top: 10px;
    text-align: center;
    
}

.banner-text h1{
    color:#fff;
    font-size: 40px;
    text-transform: uppercase;
}

.banner-text p{
    color:#fff;
    font-size: 18px;
    padding: 30px;
}

.btn-a{
    display: inline-block;
    background-color: #9900ff;
    margin-top: 30px;
    padding: 15px 30px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 25px;
    
}

.btn-a:hover{
    background-color: #6305c9;
   
}

@media (min-width:768px) {
    .logo {
        margin-left: 0;
    }

    header {
        height: 100vh;
    }

    nav {
        height: 80px;
        margin: 0 auto;
    }

    .bar-btn {
        display: none;
    }

    .nav-menu{
        position: relative;
        height: 100px;
        top:0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }

    .nav-menu li {
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }

    .nav-menu li a{
        font-size: 18px;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    
}

/*estilos de los iconos de las redes sociales */
i.fa-brands.fa-github.fa-2xl,
i.fa-brands.fa-facebook.fa-2xl,
i.fa-brands.fa-linkedin.fa-2xl,
i.fa-brands.fa-instagram.fa-2xl,
i.fa-solid.fa-user-lock.fa-2xl,
i.fa-solid.fa-house-chimney-user.fa-2xl{
    color: #fff  
}
i.fa-brands.fa-github.fa-2xl:hover{
    color: dimgrey
}
i.fa-brands.fa-facebook.fa-2xl:hover{
    color: #0636F6  
}
i.fa-brands.fa-linkedin.fa-2xl:hover{
    color: #14DBF7
}
i.fa-brands.fa-instagram.fa-2xl:hover{
    color: #F4106D
}
i.fa-solid.fa-user-lock.fa-2xl:hover{
    color: #c233f2
}
i.fa-solid.fa-house-chimney-user.fa-2xl:hover{
    color:#cd16ee
}

.list-group-item{
    --bs-list-group-bg: transparent;
    --bs-list-group-border-color: transparent;
}


/*ICONO DE REDES SOCIALES*/  

.bg_animate{
    width: 100%;
    height: 95vh;
    background: #12002a;
    position: relative;
    overflow: hidden;
}

.header_nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.header_nav .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.header_nav h1{
    color: #fff;
    font-family: "Orbitron", sans-serif;
}

.header_nav nav a{
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.banner_title h2{
    color: #fff;
    font-size: clamp(55px, 4vw, 40px);
    font-weight: 800;
    margin-bottom: 20px;
    font-family: "Orbitron", sans-serif;
    
}
.banner_title h3{
    color: violet;
    font-size: clamp(15px, 4vw, 30px);
    font-weight: 800;
    margin-bottom: 20px;
}

.banner_title .llamanos{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    background: #1A2849;
    padding: 20px;
}

.banner_img{
    animation: movimiento 2.5s linear infinite;
}

.banner_img img{
    width: 60%;
    margin-left: 80px;
    display: block;
}

/* responsive banner */
@media only screen and (max-width: 900px){
    .header_nav {
        flex-direction:row;
        align-items: center;
        max-width: 500px;
    }
    .banner_title{
        max-width: 100%;
        margin: 1rem;
    }
    .banner_title h2{
        font-size: clamp(45px, 4vw, 40px);

    }
    
}



@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}



/*Estilo para la seccion de servicios*/
:root {
    --black:#000000;
    --white:#ffffff;
    --dark-purple:#762ba3;
    --light-purple:#ae40f8;
    --yellow:#ffc800;
    --light-pink:#ffeffe;
    --green:#00b090;
    --background-gray:#eee; 

}


.contaner{
    max-width: 1440px;
    padding: 0 50px;
}

.button{
    font-size: 1.1rem;
    font-weight: 700;
    padding: 10px 20px;
}
.button-primary{
    color: violet;
    background-color: #14DBF7;
}
.button-primary:hover{
    background-color: #6305c9;
}

/*seccion de nosotros*/

.nosotros {
    padding-bottom: 75px;
    padding-top: 75px;
}
.nosotros img{
    width: 400px;
    border-radius: 20%;
    border: solid rgb(221, 25, 243);
}
.nosotros .presentacion{
    text-align: right;
}
.nosotros .row{
    display: flex;
    align-items: center;
}
.nosotros h1 {
    font-family: "Orbitron", sans-serif;

}
.nosotros p {
    font-family: "Oxanium", sans-serif;
}
@media (max-width: 900px) {
    .nosotros {
        padding-bottom: 25px;
        padding-top: 25px;
    }
    .nosotros img{
        width: 80%;
        margin-left: 15%;
    }
    .nosotros .presentacion{
        text-align: center;
    }
}

/*contacto*/

.contact {
    display: grid;
    grid-template-columns: repeat(2,50%);
    padding: 20px;
    gap: 10px;
    width: 1000px;
    margin: 20px;
}

.box-info {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 50px;

}
.box-info > h1 {
    text-align: left;
    letter-spacing: 5px;
}
.data {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.data > p {
    font-size: 1rem;
}
.data > p > i {
    color: #9900ff;
    margin-right: 10px;
    font-size: 25px;
}
.links {
    display: flex;
    gap: 15px;
}

.links > a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    background: #ae40f8;
    text-align: center;
    transition: 1s;
}
.links > a > i {
    color: #fff;
    line-height: 40px;
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}
.input-box {
    position: relative;
  
}
.input-box > input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    outline: none;
    background: rgba(255 255 255 / .1);
    border: 3px solid transparent;
    letter-spacing: 1px;
    transition: 3s;
    color: #fff;
}
.input-box > input:focus,
.input-box > textarea:focus {
    border-bottom: solid violet;
}

.input-box > input:focus::placeholder,
.input-box > textarea:focus::placeholder{
    color: transparent;
}

.input-box > textarea {
    width: 100%;
    height: 130px;
    padding: 10px;
    background: rgba(255 255 255 / .1);
    border: 3px solid transparent;
    letter-spacing: 1px;
    transition: 3s;
    color: #fff;
    outline: none;
}
.input-box > i {
    color: rgba(255 255 255 / .3);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}

form > button {
    background: #c233f2;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px;
    transition: 2s;
    
}
form > button:hover, .links > a:hover {
    background: #6405c986;
}

@media screen and (max-width:600px) {
    .contact {
        width: 95%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .box-info {
        gap: 15px;
    }
    .box-info > h1 {
        font-size: 1.5rem;
    }
}

/*slider*/
.slider{
    overflow:hidden;
}
.slider--inner{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: all 0.3s ease-in;
    align-items: center;
 
}

.slider--inner img{
    aspect-ratio: 16 / 9;
    object-fit:cover;

}
img {
    width: 55vh;
}
.nav-link.p-0.text-white{
    font-family: "Oxanium", sans-serif;

}



/*boton*/

button{
    position: relative;
    padding: 10px 15px;
    border: none;
    outline: none;
    background: #350642;
    cursor: pointer;
    transition: .5s;
    overflow: hidden;

}
button:hover {
    color:#fff;
}
button span {
    position: absolute;
    background: #fff;
    transition: .5s;
}
button span:nth-child(1) {
    width: 100%;
    height: 1px;
    top: 0;
    left: -100%;
}
button span:nth-child(2) {
    width: 100%;
    height: 1px;
    bottom: 0;
    right: -100%;
}
button span:nth-child(3) {
    width: 1px;
    height: 100%;
    bottom: -100%;
    left: 0;
}
button span:nth-child(4) {
    width: 1px;
    height: 100%;
    top: -100%;
    right: 0;
}


button:hover span:nth-child(1) {
    left: 0;
}
button:hover span:nth-child(2) {
    right: 0;
}
button:hover span:nth-child(3) {
    bottom: 0;
}
button:hover span:nth-child(4) {
    top: 0;
}

.go-top-container{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
    z-index: -1;
}

.go-top-button{
    width: 0rem;
    height: 0rem;
    background: #7606f6;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.go-top-button i{
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #fff;
    transition: .2s;
}

.show{
    z-index: 10;
}

.show .go-top-button{
    animation: popup .3s ease-in-out;
    width: 4rem;
    height: 4rem;
    z-index: 11;
}

.show i{
    transform: translate(-50%, -50%) scale(1);

}

@keyframes popup{
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 8rem;
        height: 8rem;
    }
    100%{
        width: 4rem;
        height: 4rem;
    }
}

